.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.clickableCell {
  cursor: pointer;
  display: block;
}

.categorySelectCell {
  min-width: 160px;
}
